*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: sans-serif;
}
.section_p {
     padding: 100px;
}
.banner{
     width: 100%;
     height: 100vh;
     background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(images/background.jpg);
     background-size: cover;
     background-position: center;
}

.navbar{
     position: fixed;
     z-index: 10;
     box-shadow: 0 0 10px rgba(0,0,0,0.5);
     width: 100%;
     padding:  10px 100px ;
     margin: auto;
     display: flex;
     align-items: center;
     justify-content: space-between;
     background: #fff;
}

.logo{
     width: 160px;
     cursor: pointer;
     border-radius: 10px;
}

.navbar ul li{
     list-style: none;
     display: inline-block;
     margin: 0 5px;
     position: relative;

}

.navbar ul li a{
     text-decoration: none;
     color: #333;
     text-transform: uppercase;
     font-size: 15px;
     font-weight: 600;
     transition: .3s;
     padding: 10px 15px;
     border-radius: 5px;
}
.navbar ul li a.active,
.navbar ul li a:hover {
     background: #333;
     color: #fff;
}

/* .navbar ul li::after{
     content: '';
     height: 3px;
     width: 0;
     border-radius: 5px;
     background: #333;
     position: absolute;
     left: 0;
     bottom: -10px;
     transition: 0.5s;
}
.navbar ul li:hover::after{
     width: 100%;

} */

.content{
     width: 100%;
     position: absolute;
     top: 60%;
     left: 50%;
     transform: translate(-50%, -50%);
     text-align:center;
     color: #fff;
     line-height: 2;
     width: 80%;
     
}

.content h1{
     font-size: 50px;
     font-weight: 900;
     line-height: 1.5;
}
.content p{
     font-size: 15px;
     font-weight: 600;
     margin-bottom: 50px;

}

button{
     width: 200px;
     padding: 15px 0;
     text-align: center;
     margin: 20px 10px;
     border-radius: 25px;
     font-weight: bold;
     border: 2px solid #009688;
     background: transparent;
     color: #fff;
     cursor: pointer;
     position: relative;
     overflow: hidden;

}

.banner .content button span{
     background: #009688;
     height: 100%;
     width: 0;
     border-radius: 25px;
     position: absolute;
     left: 0;
     bottom: 0;
     z-index: -1;
     transition: 0.5s;
}

button:hover span{
     width: 100%;
}
.content-section{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     justify-content: center;
     align-items: center;
     text-align: center;
     
}
.event_content h1 {
     position: relative;
     text-align: center;
     margin-bottom: 30px;
     font-weight: 900;
     font-size: 35px;
     color: #333;
}
.event_content h1::after {
     position: absolute;
     top: 120%;
     left: 50%;
     transform: translate(-50%, -50%);
     content: '';
     width: 200px;
     height: 5px;
     background: #333;
     border-radius: 5px;
}
.content-section .card img {
     width: 100%;
     border-radius: 10px;
     margin-bottom: 10px;
}

.content-section .card{
     flex: 1;
     margin: 20px 20px;
     border: 1px solid #aaa;
     padding: 20px;
     border-radius: 20px;
     box-shadow: 0 5px 10px rgba(0,0,0,0.5);
     font-size: 15px;
     color: #333;
}
.card .card_details .top {
     display: flex;
     text-align: left;
     gap: 20px ;
     margin-bottom: 20px;    
}
.card .card_details .top .left {
     border: 1px solid #aaa;
     display: flex;
     flex-direction: column;
     justify-content: center;
     text-align: center;
     padding: 10px;
     border-radius: 10px;
     font-size: 12px;
}
.card .card_details .top .left span {
     font-size: 25px;
     font-weight: 600;
}
.card .card_details .top .left label {
     font-size: 40px;
     font-weight: 900;
     color: rgb(150, 3, 3);
}
.card .card_details .top .right h3 {
     margin-bottom: 10px;
     font-size: 18px;
}
.card .card_details .top .right p {
     font-size: 12px;
     line-height: 2;
}
.card .card_details .description {
     text-align: left;
     line-height: 1.5;
     margin-top: -10px;
}
.card .card_details button {
     width: 100%;
     height: 40px;
     background: #009688;
     margin: 0;
     padding: 0;
     margin-top: 20px;
}
.card .card_details .Completed{
     background: none;
     color: #009688;
}

footer .footer1 {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     gap: 50px;
     padding: 100px;
     background: #333;
}
footer a {
     text-decoration: none;
     color: #ddd;
}
footer .footer1 .item {
     width: 100%;
}
footer .footer1 .item .image img {
     width: 200px;
     margin-bottom: 20px;
     padding: 10px;
     border-radius: 10px;
}
footer .footer1 .item h3 {
     color: #fff;
     font-size: 25px;
     margin-bottom: 20px;
}
footer .footer1 .item p {
     color: #ddd;
     font-size: 15px;
     margin-bottom: 20px;
}
footer .footer1 .item p.para {
     line-height: 1.5;
}
footer .footer1 .item ul li {
     margin-bottom: 10px;
     list-style: none;
     font-size: 15px;
     font-weight: 600;
     border-bottom: 1px solid #ddd;
     padding-bottom: 10px;
}
footer .footer1 .item ul li a {
     color: #ddd;
     text-decoration: none;
}
footer .footer1 .item .input_box {
     background: #fff;
     width: 100%;
     height: 50px;
     border-radius: 50px;
     display: flex;
     flex-direction: column;
     padding: 5px;
}
footer .footer1 .item .input_box input {
     background: none;
     width: 100%;
     border: none;
     outline: none;
     font-size: 13px;
     font-weight: 600;
     padding: 10px;
}
footer .footer1 .item .input_box button {
     border-radius: 40px;
     width: 150px;
     color: #fff;
     border: none;
     outline: none;
     background: #c84231;
     font-size: 13px;
     font-weight: 500;
     cursor: pointer;
}
footer .footer2 {
     padding: 20px 100px;
     background: #000;
     color: #fff;
     text-align: center;
}
.footer-right a:hover{
     text-decoration: underline;
}
.footer-social {
     margin-top: 10px;
}
.footer-social a {
     color: white;
     margin-right: 12px;
     font-size: 18px;
     transition: 0.3s;
}
.footer-social a:hover {
     color: #00bcd4;
}


.contact-section {
     padding: 100px;
}

.contact-header {
     text-align: center;
     margin-bottom: 40px;
}

.contact-container {
     display: flex;
     flex-wrap: wrap;
  justify-content: space-between;
}

.contact-info, .contact-form {
  flex: 1;
  min-width: 300px;
  padding: 20px;
  background: white;
  border-radius: 10px;
}

.contact-info h3 {
  color: #0b1d3a;
  margin-bottom: 15px;
}

.contact-info p {
  margin: 8px 0;
  color: #333;
}

.social-links a {
  color: #0b1d3a;
  font-size: 18px;
  margin-right: 10px;
  transition: 0.3s;
}

.social-links a:hover {
  color: #00bcd4;
}

.contact-form input, .contact-form textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-family: "Poppins", sans-serif;
}

.btn-submit {
  background-color: #0b1d3a;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-submit:hover {
  background-color: #00bcd4;
}

.map {
  margin-top: 40px;
  border-radius: 10px;
  overflow: hidden;
}


.wrapper {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     background: #ccc;
}
.wrapper form {
     background: #fff;
     padding: 50px;
     border-radius: 20px;
     width: 500px;
     box-shadow: 0 5px 10px rgba(0,0,0,0.5);
     position: relative;
}
.wrapper form .close_btn {
     position: absolute;
     top: 0;
     right: 0;
     width: 40px;
     height: 40px;
     background: red;
     border-radius: 0 20px 0 0;
     font-size: 20px;
     display: flex;
     justify-content: center;
     align-items: center;
}
.wrapper form .close_btn a {
     color: #fff;
}
.wrapper form h1 {
     font-size: 25px;
     margin-bottom: 20px;
     text-align: center;
}
.wrapper form .input-box {
     width: 100%;
     height: 40px;
     margin-bottom: 20px;
     border: 2px solid #ccc;
     border-radius: 5px;
     position: relative;
}
.wrapper form .input-box input,
.wrapper form .input-box textarea,
.wrapper form .input-box select {
     width: 100%;
     height: 100%;
     border: none;
     outline: none;
     background: none;
     padding: 0 10px;
     font-size: 15px;
}
.wrapper form .input-box textarea {
     resize: none;
}
.wrapper form .textarea-box {
     height: 100px;
     padding-top: 10px;
}
.wrapper form .input-box i {
     position: absolute;
     right: 5px;
     color: #6d6c6c;
     top: 50%;
     transform: translateY(-50%);
}
.wrapper form .remember-forgot {
     font-size: 15px;
     display: flex;
     justify-content: space-between;
     font-weight: 500;
     color: #333;
}
.wrapper form .remember-forgot a {
     text-decoration: none;
     color: #333;
}
.wrapper form button {
     width: 100%;
     margin: 0;
     margin-top: 20px;
     margin-bottom: 20px;
     background: #333;
     border: none;
     font-size: 20px;
     padding: 0;
     height: 50px;
     border-radius: 5px;
}
.wrapper form .register-link {
     font-size: 15px;
     color: #333;
}
.wrapper form .register-link a {
     text-decoration: none;
     color: #333;
     font-weight: 600;
}
.wrapper form .register-link a:hover {
     text-decoration: underline;
}